.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


.carousel-item {
  height: 30rem;

}

.carousel-item>img {
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
  object-fit: cover;
  width: auto;
  height: 500px;
  position: absolute;
}



.row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}


.featurette-divider {
  margin: 50px;
}